<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Properties
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_properties' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'all_properties' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'all_properties' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'all_properties' %}" class="dropdown-item">All Properties</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Apartments & Condos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'all_properties' %}?category=studio" class="dropdown-item">0 Bedrooms(Studio)</a>
                <a href="{% url 'all_properties' %}?category=one_bedrooms_apartment_condo" class="dropdown-item">1 Bedroom Apartment/Condo</a>
                <a href="{% url 'all_properties' %}?category=two_bedrooms_apartment_condo" class="dropdown-item">2 Bedrooms Apartment/Condo</a>
                <a href="{% url 'all_properties' %}?category=three_bedrooms_apartment_condo" class="dropdown-item">3 Bedrooms Apartment/Condo</a>
                <a href="{% url 'all_properties' %}?category=four_bedrooms_apartment_condo" class="dropdown-item">4 Bedrooms Apartment/Condo</a>
                <a href="{% url 'all_properties' %}?category=five_bedrooms_apartment_condo" class="dropdown-item">5 Bedrooms Apartment/Condo</a>
                <a href="{% url 'all_properties' %}?category=studio,one_bedrooms_apartment_condo,two_bedrooms_apartment_condo,three_bedrooms_apartment_condo,four_bedrooms_apartment_condo,five_bedrooms_apartment_condo" 
                    class="dropdown-item">All Apartments & Condos</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                House and Lot
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'all_properties' %}?category=lot" class="dropdown-item">Lot</a>
                <a href="{% url 'all_properties' %}?category=one_bedrooms_house_lot" class="dropdown-item">1 Bedroom House & Lot</a>
                <a href="{% url 'all_properties' %}?category=two_bedrooms_house_lot" class="dropdown-item">2 Bedrooms House & Lot</a>
                <a href="{% url 'all_properties' %}?category=three_bedrooms_house_lot" class="dropdown-item">3 Bedrooms House & Lot</a>
                <a href="{% url 'all_properties' %}?category=four_bedrooms_house_lot" class="dropdown-item">4 Bedrooms House & Lot</a>
                <a href="{% url 'all_properties' %}?category=five_bedrooms_house_lot" class="dropdown-item">5 Bedrooms House & Lot</a>
                <a href="{% url 'all_properties' %}?category=one_bedrooms_house_lot,two_bedrooms_house_lot,three_bedrooms_house_lot,four_bedrooms_house_lot,five_bedrooms_house_lot" 
                    class="dropdown-item">All House and Lot</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'all_properties' %}?category=new_listed" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'all_properties' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'all_properties' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'all_properties' %}?category=new_listed,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>